body {
    background-color: #134686;
    font-family: Courier New;
    color: #E1D0B3;
}

.kartu-profil {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    background-color: #E1D0B3;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0.1);
    text-align: center;

    color: #134686;
}

.kartu-profil img {
    width: 150px;
    border-radius: 50%;
}
    
.daftar-proyek {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.kartu-proyek {
    background-color: #703B3B;
    padding: 15px;
    border-radius: 10px;
    width: 200px;
}
