body {
    background-color: #647FBC;
    font-family: Courier New;
    color: #FAFDD6;
}

.kartu-profil {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    background-color: #91ADC8;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0.1);
    text-align: center;

    color: #647FBC;
}

.kartu-profil img {
    width: 150px;
    border-radius: 50%;
}
    
.daftar-proyek {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.kartu-proyek {
    background-color: #AED6CF;
    padding: 15px;
    border-radius: 10px;
    width: 200px;
}

@media (max-width: 600px){
    .daftar-proyek {
        flex-direction: column;
        align-items: center;
    }
    .kartu-profil {
        width:  90%;
    }
}

body.dark-mode {
    background-color: #121212;
    color: #f0f2f5;
}
body.dark-mode .kartu-profil,
body.dark-mode .kartu-proyek {
    background-color: #1e1e1e;
}
